.home-card {
    
    height: 300px;
}
  
.example-header-image {
  background-image: url('https://images.app.goo.gl/KDXmChwPNfUMgMgc8');
  background-size: cover;
}

.tp-card {
    margin: 200px;
 }
 .tp-header-image {
    background-image: url('../../assets/Ethereum.jpg');
    background-size: cover;
 }